<ion-header>
  <ion-toolbar>
    <ion-title>
      <img id="headLogo" src="/assets/plainlogo.png"></ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" [routerLink]="['/about']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen scroll-y="false">
    <ion-slides>

      <!--Slide 1-->
      <ion-slide>
        <div class="slide">
          <img class="chocoDrip" src="assets/bg.png">
          <div id="introTxt">
            <ion-icon id="manIcon" name="people-outline"></ion-icon>
            <p class="mainTxt">Meet The Developers!</p>
            <p class="subTxt">Learn more about the people behind the Chocoholics App by swiping right!</p>
          </div>
          <ion-icon id="arrowIcon" name="arrow-forward-outline"></ion-icon>
          <img class="chocoDripDown" src="assets/bg.png">
      </div>
      </ion-slide>

      <!--Slide 2-->
      <ion-slide>
        <img class="chocoDrip" src="assets/bg.png">
        <center><img class="devPic" src="assets/drez.jpg"></center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Drezza</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Drezza A. Anacito is currently a 3rd Year I.T student from
            Technological Insitute of the Philippines - Quezon City, is the
            owner of Chocoholics who aspires to reach more customers especially
            during pandemic, and share their delicious chocolates to cheer them up
            in times of hardship during the lockdown.
          </ion-card-content>
        </ion-card>
        <img class="chocoDripDown" src="assets/bg.png">
      </ion-slide>

      <!--Slide 3-->
      <ion-slide>
        <img class="chocoDrip" src="assets/bg.png">
        <center><img class="devPic" src="assets/john.jpg"></center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>JC</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            John Christopher C. Pesquera is currently a 3rd Year I.T student from
            Technological Insitute of the Philippines - Quezon City who
            is the co-owner of Chocoholics who started the plan to expand
            the business' transaction to online in order to accomodate more customers
            during the pandemic.
          </ion-card-content>
        </ion-card>
        <img class="chocoDripDown" src="assets/bg.png">
      </ion-slide>

      <!--Slide 4-->
      <ion-slide>
        <img class="chocoDrip" src="assets/bg.png">
        <center><img class="devPic" src="assets/stef.jpg"></center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Stefani</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Stefani S. Salvador, a 4th Year I.T student from Technological Institute of the Philippines - Quezon City, 
            is the user admin that maintains the  Chocoholics App in order to make sure that customers are able to create 
            and use their accounts to make transactions with the shop.
          </ion-card-content>
        </ion-card>
        <img class="chocoDripDown" src="assets/bg.png">
      </ion-slide>

      <!--Slide 5-->
      <ion-slide>
        <img class="chocoDrip" src="assets/bg.png">
        <center><img class="devPic" src="assets/loise.jpg"></center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Aeron</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Aeron Louise E. Macapanas, a 4th Year I.T student from Technological Institute of the Philipines - Quezon City, 
            is one of the staffs for the Chocoholics App who maintains the products that are sold in the mobile app so that users 
            can see what is available and what is not.
          </ion-card-content>
        </ion-card>
        <img class="chocoDripDown" src="assets/bg.png">
      </ion-slide>

      <!--Slide 6-->
      <ion-slide>
        <img class="chocoDrip" src="assets/bg.png">
        <center><img class="devPic" src="assets/mon.jpg"></center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mon</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Mon Karlo G. Balmayo, a 4th Year I.T student from Technological Institute of the Philippines - Quezon City, 
            is one of the staffs for the Chocoholics App who maintains the products that are sold in the mobile app so that 
            users can see what is available and what is not.
          </ion-card-content>
        </ion-card>
        <img class="chocoDripDown" src="assets/bg.png">
      </ion-slide>
    </ion-slides>
  </ion-content>
