ion-toolbar{
    --background: #1B0E03;
    color: #ecb837;

}

ion-content{
    --background: #1B0E03;
    --ion-background-color:#1B0E03;
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
}

ion-item{
    color: #ecb837;
    background: #1B0E03;
}


ion-button{
    --background: #ecb837;
    color: #1B0E03;
    font-family: 'Poppins', sans-serif;
  
}

ion-label{
    color:white!important;
}

#headLogo{
    margin-top: 25px;
    width: 150px;
    height: 150px;
  }

  .page-title{    

    color:#ecb837;
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    // text-align: left;
    margin-left: 20px;

}