ion-toolbar{
    --background: #1b0e03;
    color: #ecb837;
}

ion-content{
    --background: #1b0e03;
}

ion-item{
    --background: #1b0e03;
    color: #ecb837;
    font-family: 'Poppins', sans-serif;
}

ion-label {
    p{
    font-family: 'Poppins', sans-serif;
    color: #ecb837;

    }
    
}

ion-list-header{
    --background: #1b0e03;
    color: #ecb837;
    font-family: 'Poppins', sans-serif;
}
ion-icon{
    color: white;
    width: 30px;
    height: 30px;
  }

  .label{
    color: #ece4cf;
}