ion-content{
  --background: #1b0e03;
}

ion-title{
  color: white;
}

ion-toolbar{
  --background: #1b0e03;
}
ion-icon{
  color: white;
  width: 30px;
  height: 30px;
}

ion-card{
  --background: #ecb837; 
  --color: #1b0e03;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}  

ion-card-title{
  --color: #1b0e03;
}
#chocoDrip{
  width: 100%;
}
  
#titleTxt{
  padding-right: 20px;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  font-size: 30pt;
  color: #ecb837;
}

.classPic{
  width: 100px;
  height: 100px;
}
#headLogo{
  margin-top: 15px;
  width: 150px;
  height: 150px;
}

