<ion-header>
  <ion-toolbar>
    <ion-title>
      <img id="headLogo" src="/assets/plainlogo.png"></ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" [routerLink]="['/about']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center><p id="titleTxt">Our History</p></center>

  <ion-card>
    <img class="cardPic" src="/assets/brainstorm.JPG">
    <ion-card-header>
    <ion-card-title>2015</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      In early 2015, there were two friends who became interested in selling
      different kinds of merchandise but it doesn't seem to go well. Despite the 
      concern, their passion still burns and they continue to brainstorm on what
      kind of things they should sell next.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="cardPic" src="/assets/cshop.jpg">
    <ion-card-header>
    <ion-card-title>2017</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      After a long time of discussion, the two realized that they both have a sweet tooth
      and have decided to sell the food that they love the most: Chocolate. Finally, in late
      2017, the two started a Chocolate Shop in Quezon City to share their favorite food
      to others at an affordable price.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="cardPic" src="/assets/ccustomers.jpg">
    <ion-card-header>
    <ion-card-title>2018-2020</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Their sales wasn't as good as other leading Chocolate Shops in the country, but they still
      kept their business as there were people who often come and buy chocolates who always
      served as a motivation for them to continue their business. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="cardPic" src="/assets/cstocks.jpg">
    <ion-card-header>
    <ion-card-title>2020</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Unfortunately, just like the other shops around them, their shop got hit with the pandemic's 
      effect. The lockdowns forced them to shutdown their business until further notice which caused
      their business to crash. They had no choice but to follow the government's guidelines but that 
      did not stop them from thinking other ways to sell chocolates.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="cardPic" src="/assets/capp.jpg">
    <ion-card-header>
    <ion-card-title>2021-Present</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      While creating a plan for their comeback, the two owners saw the increasing trend of online shopping
      which gave them an idea. They felt like the odds were at their side as they were both I.T students 
      who has an ability to create a mobile application for their chocolate shop. Through this, the owners 
      developed this application that serves as a Filipino online shop for chocolates. This app helped them
      rise again and their sales increased a month after they released their app.
    </ion-card-content>
  </ion-card>

</ion-content>
