<ion-header>
  <ion-toolbar>
    <ion-title>
      <img id="headLogo" src="/assets/plainlogo.png"></ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" [routerLink]="['/about']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center><p id="titleTxt">Our Products</p></center>
  <ion-card>
    <img class="cardPic" src="/assets/banner.jpg">
  
    <ion-card-content>
      The Chocoholics Store sells variety of chocolate products that adults and kids
      can enjoy such as: Chocolate Bars, Chocolate Blocks, and Chocolate Boxes. Our store
      collected chocolates different chocolate companies including: Nestle, Mars, Cadbury and many more,
      from all around the world to share it to Filipino citizens who has a sweet tooth and 
      craves for an amazing chocolate that they can easily buy online for a cheap price.
    </ion-card-content>
  </ion-card>

</ion-content>