<ion-header >
  <ion-toolbar >
    <ion-title>
      <img id="headLogo" src="/assets/plainlogo.png">
    </ion-title>
    <ion-buttons slot="start"  >
      <ion-menu-button color="light" menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" routerLink="/../profile">
      <ion-button>
        <ion-icon color="warning" name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <img style="width: 100%; position: absolute; z-index: -1;"  src="/assets/bg2.png">    -->
</ion-header>

<ion-content> 
  
  <!-- PRODUCTS -->
  <center><h1 class="list-header">Chocolate Blocks</h1> </center>
  <div class="food-list">
    <app-food-card *ngFor="let food of products" [item]="food" (clicked)="goToDetailPage(food.id)"></app-food-card>
  </div>

  <!-- BUTTONS -->

  <ion-icon id="nBtn" name="arrow-forward-circle-outline"  routerLink="/tab-page3/listing3"></ion-icon>
  <ion-icon id="pBtn" name="arrow-back-circle-outline"  routerLink="/home-page/listing"></ion-icon>


  
</ion-content>
