<ion-header>
  <ion-toolbar>
    <ion-title>
      <img id="headLogo" src="/assets/plainlogo.png"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-button expand="block" routerLink="/bars">Chocolate Bars</ion-button>
    <ion-button expand="block" routerLink="/blocks">Chocolate Blocks</ion-button>
    <ion-button expand="block" routerLink="/boxes">Chocolate Boxes</ion-button> -->
     
    <!-- <ion-button expand="block" routerLink="/staffs">Listing 3</ion-button>  -->
    <p class="page-title">Manage Chocolates</p>
    <div class="content">
      <center>
      <ion-grid fixed>
      <ion-row>
        <ion-col size=12>
          <div class="col-div" routerLink="/bars">
            <img src="https://cdn-icons-png.flaticon.com/512/4080/4080314.png">
            <p class="btn-title">Chocolate Bars</p>
          </div>
        </ion-col>
      </ion-row>   
      <ion-row> 
        <ion-col size=12>
          <div class="col-div" routerLink="/blocks">
            <img src="https://cdn-icons-png.flaticon.com/512/7647/7647993.png" id="blocksImg">
            <p class="btn-title">Chocolate Blocks</p>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size=12>
          <div class="col-div" routerLink="/boxes">
            <img src="https://cdn-icons-png.flaticon.com/512/3778/3778907.png" id="boxImg">
            <p class="btn-title">Chocolate Boxes</p>
          </div>
        </ion-col>
      </ion-row>

      </ion-grid>
    </center>
    </div>

          </ion-content>

  
   
  
    
     

