 <ion-header>
  <ion-toolbar>
    <ion-title>
      <img id="headLogo" src="/assets/plainlogo.png"></ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" [routerLink]="['/about']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center><p id="titleTxt">Our App</p></center>
  <ion-card>
    <img class="cardPic" src="/assets/ourApp.png">
  
    <ion-card-content>
      The Chocoholics App is created in 2022 by two developers who wanted to create a mobile
      application for their chocolate shop. As the world is still fighting with the pandemic, 
      the owners have decided to develop this application to spread their delicious chocolates
      in the Philippines without any hassle of going in the Chocoholics shop personally. 
    </ion-card-content>
  </ion-card>

</ion-content>