ion-content{
    --background: #1b0e03;
}

ion-title{
    color: white;
}

ion-toolbar{
    --background: #1b0e03;
}

ion-card{
    --background: #ecb837; 
    --color: #1b0e03;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
ion-icon{
  color: white;
  width: 30px;
  height: 30px;
}



#phoneIcon{
    width: 200px;
    height: 200px;
    color: #dbdbd9;
}

#brandLogo{
    position: absolute;
    left: 150px;
    top: 250px;
    width: 80px;
    height: 80px;
}

#chocoDrip{
    width: 100%;
}

#applogo{
    margin-top: 15px;
    border-radius: 500px;
    width: 200px;
    height: 200px;
}

#titleTxt{
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    font-size: 30pt;
    color: #ecb837;
}
#headLogo{
  margin-top: 15px;
  width: 150px;
  height: 150px;
}
